/* common css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
/* common css end */

/* contact section css start  */
#contact{
    background: #24282c;
}
.contact_title{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact_title h2 {
    font-size: 8.25rem;
    color: rgb(108 117 125 / 27%);
    text-transform: uppercase;
    font-weight: 600;
    --bs-text-opacity: 1;
}
.contact_title p{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(
        -50%, -50%
    );
    font-size: 2.25rem ;
    font-weight: 600
}
/* contact section css end  */